header {
    background-color: #393E46;
    color: white;
    padding: 10px;
    border: 4px solid rgb(28, 27, 27);
  }
  
  header .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  header .content h1 {
    margin-left: 10px;
    color: white;
    -webkit-text-stroke: 2px black;
  }
  
  header .content .logo img {
    height: 80px;
    width: 80px;
    max-height: 100%;
    max-width: 100%;
    margin-right: 10px;
    animation: rotate 20s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .account-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .account-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6DD5B3;
    color: white;
    border: 2px solid black;
    box-shadow: 0 2px 6px rgba(42, 38, 38, 0.8);
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .account-button a:hover {
    background-color: #718096;
  }
    
  .account-button a i {
    font-size: 1.2em;
    margin-right: 10px;
  }
  
  .account-button a span {
    font-size: 0.9em;
    font-weight: bold;
  }
  
  header .content .account-button img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.help-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}


.help-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6DD5B3;
  color: white;
  border: 2px solid black;
  box-shadow: 0 2px 6px rgba(42, 38, 38, 0.8);
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.help-button a:hover {
  background-color: #718096;
}
  
.help-button a i {
  font-size: 1.2em;
  margin-right: 10px;
}

.help-button a span {
  font-size: 0.9em;
  font-weight: bold;
}

header .content .help-button img{
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

