header {
    background-color: #393e46;
    color: white;
    padding: 10px;
    min-height: 100px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  }
  
  header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
  }
  
  
  header .content h1 {
    color: white;
  }
  
  /* LOGO */
  header .content .logo {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
    flex-direction: column;
  }
  
  
  header .content .logo:hover {
    transform: scale(1.05);
  }
  
  header .content .logo img {
    height: 80px;
    width: 80px;
    max-height: 100%;
    max-width: 100%;
    margin-right: 10px;
    animation: rotate 20s linear infinite;
  }
  
  /* BUTTONS Connexions */
  header .content .buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    height: auto;
    width: auto;
  }
  
  header .content .login-btn {
    background-color: #6dd5b3;
    color: white;
    border: none;
    padding: 4% 8%;
    margin-left: 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  header .content .login-btn:hover {
    background-color: #718096;
  }
  
  /* LOGO VELIB METROPOLE */
  header .content .velib-metropole {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: inline-block;
  }
  
  header .content .velib-metropole .velib-logo {
    width: 8%;
    height: auto;
    max-height: 8%;
  }
  
  
  /* DEV INFO */
  header .content .dev-info {
    margin-top: 10px;
    font-size: 0.8em;
    text-align: center;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  